@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.header {
	padding: 2vh;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 1vh;
	margin-bottom: 2vh;
}

.header h1 {
	font-size: 5vh;
	margin: 0;
}

.header a {
	font-size: 25px;
	color: #ff6f61;
	text-decoration: none;
	display: inline-block;
	margin-top: 1vh;
}

.header a:hover {
	text-decoration: underline;
}

#alphabet {
	display: grid;
	justify-items: center;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(40vh, 1fr));
	padding: 2vh 3vh;
	grid-gap: 10vh 10vh;
	box-sizing: border-box;
}

#controls, #controls div {
	justify-content: center;
	align-items: center;
}
/*
.button {
	background-color: rgba(255, 255, 255, 0.9);
	color: #333;
	padding: 2vh 10vh;
	border-radius: 1vh;
	box-shadow: 0
	0.4vh 0.8vh rgba(0, 0, 0, 0.2);
	margin: 1vh;
	font-size: 4vh;
	font-weight: bold;
	text-align: center;
	transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
	min-width: 10vh;
	position: relative;
}
*/
.cursor-hide{
	cursor:none;
}

/*
.button:active {
	border: 0.4vh solid #4caf50;
}
.button.autoplay,.button:hover,.button:focus {
	border: 0.5vh solid #9861ff;
	transform: scale(1.09);
	background-color: #fff8e1;
	box-shadow: 0 0 10px 10px rgba(255,
		152, 0, 0.5);
		transition: all 0.3s ease;
	}
*/
	.toggle-buttons {
		display: flex;
		justify-content: center;
		margin: 2vh 0;
	}

	.toggle-button {
		background-color: #f0f0f0;
		color: #333;
		padding: 1vh 2vh;
		border: none;
		border-radius: 0.5vh;
		margin: 0 1vh;
		transition: background-color 0.3s;
		font-size: 18px;
	}

	.toggle-button.active {
		background-color: #ff6f61;
		color: #fff;
	}

	#controls div {
		padding: 1vh 1vh;
		text-align: center;
		color: white;
	}

	.char {
		display: grid;
		width: 35vh;
		height: 35vh;
		font-size: 7vh;
		border: 0.2vh solid white;
		align-content: center;
		justify-content: center;
		animation-duration: .3s;
		box-shadow: 1vh 1vh 1vh 0.6vh
		#1111115e;
		border-radius: 1vh;
		background: #ddca7eb3;
	}

	.clicked {
		background: rgba(188,246,188,0.9);
	}
	
	.button {
	      background: #232b34; /* Dark chalkboard color */
	      border: 10px solid #8B4513; /* Wooden frame */
	      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	      border-radius: 15px;
	      position: relative;
	      overflow: hidden;
	      transition: all 0.3s ease;
	      font-size:4vh;
	      min-width: 10vh;
    	     position: relative;
padding: 2vh 10vh;

	    }

	    /* Adding chalk doodle image as a background */
	    .button::before {
	      content: '';
	      position: absolute;
	      top: 10px;
	      left: 10px;
	      width: 30px;
	      height: 30px;
	      background-image: url('images/anime.png'); /* Replace with your chalk doodle image */
	      background-size: contain;
	      background-repeat: no-repeat;
	      opacity: 0.8;
	      z-index: 0;
	      transform: rotate(15deg);
	    }

	    .button div {
	      color: white;
	      text-align: center;
	      z-index: 1;
	    }

	    .button span {
	      margin: 0;
	      
	      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	    }

	    /* Hover Effect */
	    .button:hover {
	      transform: scale(1.05); /* Slightly increase the size */
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Add more shadow */
		  outline: 4px dashed #FFD700;
		  outline-offset: 5px;
	    }

	    /* Active Effect */
	    .button:active {
	      transform: scale(0.98); /* Slightly decrease size on click */
	      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	      border-color: #FFD700; /* Change border to give it a pressed effect */
	    }

	    /* Focus Effect */
	    .button:focus {
	      outline: 4px dashed #0d033a; /* Add yellow dashed outline */
	      outline-offset: 5px;
	    }

	    /* Clicked Style (Persistent) */
	    .button.clicked {
	      background-color: #173f29; /* Change background to represent clicked state */
	     /* border-color: #FFD700;  Golden border */
		 border-color: #6B8E23;
	      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Stronger shadow */
	      transform: scale(1.05); /* Maintain the hover scale effect */
	    }
	

	body {
		background-image: url(images/space2.jpeg);
		animation: gradient 50s ease infinite;
		height: 100vh;
		margin: 0;
		font-family: 'Patrick Hand', cursive;
		cursor: url('images/cursor.png'), auto;
	    background-size: cover;
	     background-attachment: fixed;
	     background-position: center center;
	     min-height: 100vh;
	}
	
	body,a,button{
		cursor: url('images/cursor.png'), auto;
	}

    @keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}
	

header {
	color: #fff;
	padding: 10px;
	text-align: center;
}
h1 {
	font-size: 3.3vh;
	margin: 1vh 0;
}
p {
	font-size: 18px;
	margin: 10px 0;
}

nav {
	text-align: center;
	margin-bottom: 1vh;
}
nav a {
	color: #fff;
	text-decoration: none;
	margin: 0 20px;
	font-size: 2vh;
}
nav a:hover {
	text-decoration: underline;
}
.letter {
	font-size: 7vh;
	font-weight: bold;
	text-align: center;
}

.img {
	font-size: 15vh;
	text-align: center;
}

.description {
	margin-top: 10px;
	font-size: 3vh;
	text-align: center;
}

#scrollToTopBtn {
	display: none; /* Hidden by default */ position: fixed; /* Fixed position on the page */ bottom: 20px; /* Position from the bottom */ right: 30px; /* Position from the right */
	z-index: 99; /* Sit on top */ border: none; /* Remove borders */ outline: none; /* Remove outline */ background-color: #ff9800; /* Background color */ color: white;
	padding: 15px; /* Some padding */ border-radius: 10px; /* Rounded corners */ font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
	background-color: #555; /* Darker background on hover */
}

/* Loader container */
.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(240 240 240 / 75%);
    width: 100%;
	top:0;
}

/* Outer rotating circle */
.outer-circle {
  border: 6px solid rgba(0, 123, 255, 0.2); /* Light blue border */
  border-top: 6px solid #007bff; /* Darker blue rotating border */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Rotation animation */
}

/* Inner circle for a cleaner look */
.inner-circle {
  border: 6px solid rgba(0, 123, 255, 0.2);
  border-radius: 50%;
  border-top: 6px solid #007bff;
  width: 40px;
  height: 40px;
  position: absolute;
  animation: spin-reverse 1s linear infinite;
}

.inner-circle1 {
  border: 6px solid rgba(0, 123, 255, 0.2);
  border-radius: 50%;
  border-top: 6px solid #007bff;
  width: 20px;
  height: 20px;
  position: absolute;
  animation: spin 1s linear infinite;
}

/* Animation for the spinning effect */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
